# Comment in python

### Single line comment

In [1]:
# Hello guys Welcome python
# I am a single line comment
# in python hash use for single line comment

### Multi line comment

In [2]:
""" Hello guys
    I am a multi line comment or multi line String
    in python 3 double quotes use for multi line comment"""

' Hello guys\n    I am a multi line comment or multi line String\n    in python 3 double quotes use for multi line comment'

# Output or Print values

In [3]:
print('Hello World')

Hello World

In [4]:
print('Hello','World')

Hello World

# Creating Variable

### int type variable

In [5]:
a=123412

In [6]:
x=0

### string type variable

In [7]:
b='hai'

In [8]:
y='hello World'

### Decimal type variable

In [9]:
z=3.142

### Boolean type variable

In [10]:
check=True

In [11]:
notcheck=False

# Input value

### input String value

In [12]:
a1=input('What is your name?\n')

What is your name?
wahid

In [13]:
a1

'wahid'

# List or Array in python

In python, Array known as 'list'. so in python, list has dynamic length (no fix length).

In [14]:
list=[]

In [15]:
list

[]

In [16]:
list.append(1)

In [17]:
list=[1,2,4,45,5]

In [18]:
list

[1, 2, 4, 45, 5]

# Casting and input other types

In [19]:
int('2')

2

In [20]:
int(3.142)

3

In [21]:
float('3.142')

3.142

In [22]:
float(3)

3.0

Empty String or zero number or empty list or None are equal to False and String with one or more character or greater than zero or less than zero or list with one or more element is equal to True

In [23]:
bool('')

False

In [24]:
bool('a')

True

In [25]:
bool('False')

True

In [26]:
bool([])

False

In [27]:
bool([1])

True

In [28]:
bool(3)

True

In [29]:
bool(-3)

True

In [30]:
bool(0.5)

True

In [31]:
bool(None)

False

# For Loop

In python, we don't have numberic step loop but we have object for.

In [32]:
for i in list:
    print(i)

1
2
4
45
5

Above you can see for keyword with i variable(in place of i you can any other name of variable like j,k,l,m,p) after i variable we have in keyword that use for separation between variable and object, after in keyword we have object here list is our object of loop, after object we have colon(:) that for separation for loop argument(or condition) and block of statement of loop. You see above after colon(:) in newline we have a statement with 4 space, In our that space known as 'Space indentation' that use for showing difference between other statements and our current for loop statements.

In [33]:
for i in list:
    print(i)
    print('Hello World')

1
Hello World
2
Hello World
4
Hello World
45
Hello World
5
Hello World

In above, helloWorld print is a loop statement because before print('Hello World') statement we have 4 space indents.

But In below, helloWorld print is not a loop statement because before print('Hello World') statement we don't have 4 space indents.

In [34]:
for i in list:
    print(i)
print('Hello World')

1
2
4
45
5
Hello World

# For Enumeric or Numeric For loop

We have a logic solution for numeric or enumeric for loop. We use range function to create an object that give a numeric list to iterate a numeric step like a Numeric For loop.

Before implement logical solution, we need to know range function.

## Range function

Range function is not a simple function because we can't call range like another function like a int,bool,print,input. you can see below

In [35]:
range(10)

range(0, 10)

Range function have 3 argument for get as input for output
Arguments:
1- start
2- End (Exclusive End it means you put 11 for 10 end, 10001 for 10000)
3- step

In [36]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

Above you can see for loop with fix number of time (10 because of range(10))

But just like I say first argument is start argument but in above code we use first for end

When call range with only one argument that one is use for end not for start. By default for one argument start is fix zero.

In [37]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

Above we use two argument in range so first is start that is 1 and second is end that is 11 but that mean is 10 end(because end is exclusive end)

In [38]:
for i in range(2,21,2):
    print('2','x',i//2,'=',i)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Above we use three argument range function so first is start that is 2, second is end that is 21 but that mean is 20 end(because end is exclusive end) and third is step that is 2 that mean is
first value for loop  is 2
second value for loop  is 4 (previous value plus step value like 2+2)
third value for loop  is 6 (previous value plus step value like 4+2)
.
.
.
so on

# OPERATORS

## ARITHEMATIC OPERATORS

#### For sum or Addition

In [39]:
3 + 4.5

7.5

In [40]:
1+2

3

#### For Subtraction

In [41]:
1 - .5

0.5

In [42]:
3-2

1

#### For Multiplication

In [43]:
3*4

12

In [44]:
4*3

12

#### For Division

In [45]:
3/2

1.5

In [46]:
4/2

2.0

#####   for int out division

In [47]:
3//2

1

#### For Modulas

In [48]:
3%2

1

In [49]:
24%5

4

#### For Exponent

First operand is base and second operand is power for base like 2 power 3 (in python 2**3)

In [50]:
2**2

4

In [51]:
2**3

8

In [52]:
2**4

16

## Comperasion or Relation Operator

In [53]:
2>1

True

In [54]:
2<1

False

In [55]:
1==1

True

In [56]:
1!=1

False

In [57]:
3>=2

True

In [58]:
3<=3

True

## Logical Operators

In [59]:
True or False

True

In [60]:
True and True

True

In [61]:
not True

False

In [62]:
True ^ False

True

In [63]:
True ^ True

False

## String OPerators

#### For concatination (+)

In [64]:
"Hello " + "world"

'Hello world'

## Extra Operators

#### Repeating operator ' * ' (for all type except number)

In [65]:
"W"*3

'WWW'

In [66]:
[1,2,3]*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [67]:
print('Hello World\n'*5)

Hello World
Hello World
Hello World
Hello World
Hello World

# IF / Else / Elif Conditon statement or Expresions

In [68]:
if True :
    print('Pass')

Pass

In [69]:
if False :
    print('Pass')
else:
    print('Fail')

Fail

In [70]:
x = int(input('Give me an Input?\n'))

Give me an Input?
0

In [71]:
if x==0:
    print('This value is Zero')
elif x%2==0:
    print('This value is Even')
else:
    print('This value is Odd')

This value is Zero

## If Operator

syntax:
    'True value' if 'Codition'  else 'False Value'
#### Example

In [72]:
'Pass' if False else 'Fail'

'Fail'

# Program on Sir demand

### Old way of swaping values

In [73]:
x = 10
y = 20
print(x,y)
""" Swaping """
temp = x
x = y
y = temp
print(x,y)

10 20
20 10

### Pythonic way of swaping values

In Below, In line 4, Don't confuse that is a python zipping and unzipping we see that in later classes.

In [74]:
x=10
y=20
print(x,y)
x,y=y,x
print(x,y)

10 20
20 10